@import "compass/css3";

body {
  padding-top: 60px;
  & > .container {
    margin-top: 20px;
  }
}

a {
  &.fa {
    &:hover {
      text-decoration: none;
    }
  }
}

.navbar {
  .container {
    position: relative;
  }
  .loading {
    background-image: url('../img/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    display: none;
  }
}

.suggestions {
  &.btn-group {
    & > .btn {
      margin-bottom: 10px;
    }
  }
}

.form-control {
  border-radius: 0;
  margin-bottom: 15px;
}

.btn {
  border-radius: 0;
}

.center-no-float {
  margin: 0 auto;
  float: none;
}

.feed {
  .col-sm-4 {
    margin-bottom: 35px;
  }
}

.post-container {
  position: relative;
  &:hover {
    .post-actions {
      opacity: 1;
    }
    a, .gravatar {
      display: inline-block;
    }
  }
  a, .gravatar {
    display: none;
    color: #FFF;
  }
  .gravatar {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: auto;
    border-bottom-right-radius: 50%;
  }
  .post-actions {
    opacity: 0;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    @include transition(opacity 250ms ease-in-out);
    a.play {
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
  a.remove {
    position: absolute;
    z-index: 100;
    top: 5px;
    right: 5px;
  }
  img {
    max-width: 100%;
  }
}
